{% extends "base.html" %}

{% block title %}
    <title>{{ restaurant }}</title>
{% endblock %}

{% block content %}
    <h1>СТОЛИКИ</h1>
    <div class="row g-5">

    {% for table in restaurant.tables.all %}
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ table.num }}</h5>
              <p class="card-text">{{ table.price }}.</p>
              <p class="card-text">{{ table.status }}.</p>
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="table_id" value="{{table.table_id}}">
                <input type="date" name="data">
                <button type="submit" class="btn btn-primary">Забронювати</button>
            </form>        
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}